# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example
!.env.sample

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
.directory

# IDEs
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# misc
*.pem
.cache
.astro
.vercel/
.kilocode/
