---
import { Icon } from "astro-icon/components";

interface SocialLink {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	type?: "social" | "friend";
}

const socialLinks: SocialLink[] = [
  {
		friendlyName: "gmail",
		link: "mailto:faust@linux.do",
		name: "gmail",
		type: "social",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/fiat24",
		name: "mdi:github",
		type: "social",
	},
	{
		friendlyName: "v2ex",
		link: "https://www.v2ex.com/",
		name: "v2ex",
		type: "social",
	},

	{
		friendlyName: "Nodeseek",
		link: "https://www.nodeseek.com",
		name: "nodeseek",
		type: "social",
	},
	{
		friendlyName: "linux.do",
		link: "https://linux.do/",
		name: "linux.do",
		type: "social",
	},
	{
		friendlyName: "Telegram",
		link: "https://t.me/micehole_bot",
		name: "mdi:telegram",
		type: "social",
	},
];



const { mode = "social" } = Astro.props;
---

<div class="flex flex-wrap items-center gap-x-2">
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
			<li class="flex h-8 w-8 items-center justify-center">
				<a
					class="inline-block h-full w-full sm:hover:text-accent transition-colors"
					href={link}
					rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
					target="_blank"
				>
					<Icon
						aria-hidden="true"
						class="h-full w-full"
						focusable="false"
						name={name}
						mode="inline"
					/>
					<span class="sr-only">{friendlyName}</span>
				</a>
			</li>
		))}
	</ul>
</div>
